<div class="main-area">
  <section class="left-section" style="background-image: url(assets/cs/images/lupo-poster.jpg)">
    <div class="display-table center-text">
      <div class="display-table-cell">
        <div id="normal-countdown" data-date="2018/01/01"></div>
      </div>
    </div>
  </section>
  <section class="right-section full-height">
    <!-- <a class="logo" href="#"><img src="assets/cs/images/logo-black.png" alt="Logo"></a> -->
    <div class="display-table">
      <div class="display-table-cell">
        <div class="main-content">
          <h1 class="title"><b>En Construcción</b></h1>
          <p>Nuestro sitio web se encuentra actualmente en mantenimiento programado.
            Pronto estaremos de vuelta. Gracias por su paciencia.</p>
          <!-- <div class="email-input-area">
            <form method="post">
              <input class="email-input" name="email" type="text" placeholder="Enter your email" />
              <button class="submit-btn" name="submit" type="submit"><b>NOTIFY US</b></button>
            </form>
          </div>
          <p class="post-desc">Sign up now to get early notification of our lauch date!</p> -->
        </div>
      </div>
    </div>
    <ul class="footer-icons">
      <li>Mantente en contacto: </li>
      <li><a target="_blank" href="https://www.facebook.com/lupovidaloficial"><i class="ion-social-facebook"></i></a></li>
      <li><a target="_blank" href="https://www.instagram.com/lupovidal_oficial"><i class="ion-social-instagram-outline"></i></a></li>
    </ul>
  </section>
</div>